{{ define "content" }}
<div class="mb-6 flex flex-col justify-between gap-4 sm:flex-row sm:items-center">
  <div>
    <h2 class="text-2xl font-bold tracking-tight">
      Overview
    </h2>
    <p class="mt-1 text-sm text-gray-500">
      Students overview.
    </p>
  </div>

  <div class="flex gap-2">
    <button
      class="inline-flex items-center gap-2 rounded-xl border border-gray-200 bg-white px-4 py-2.5 text-sm font-medium shadow-sm transition hover:bg-gray-50 dark:border-gray-800 dark:bg-gray-900 dark:hover:bg-gray-800">
      <i data-lucide="download" class="h-4 w-4"></i>
      Export
    </button>

    <button
      class="inline-flex items-center gap-2 rounded-xl bg-gray-900 px-4 py-2.5 text-sm font-medium text-white shadow-sm transition hover:bg-gray-700 dark:bg-white dark:text-gray-900 dark:hover:bg-gray-200">
      <i data-lucide="plus" class="h-4 w-4"></i>
      Add New
    </button>
  </div>
</div>
<section class="min-h-100 grid gap-4 sm:grid-cols-2 xl:grid-cols-4">
  
</section>
{{ end }}